/*No tocar este codigo*/ 
.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}

#container{
	width: 100%;
}
body{
	background-color: #F2F2F2;
}
header{
	background-color: #424A5D;
	width: 100%;
	color:white;
	position: fixed;
	height: 70px;
	top:0;
	left: 0;
	right: 0;
	padding: 23px;
	z-index: 2;
}
.showback{
	background-color: white;
	padding: 15px;
	margin-bottom: 15px;
	box-shadow: 2px 2px 5px #999;
	margin-top: 10px;
}
h4{
	color:#93969C;
}
p{
	color:#93969C;
}
.text-center{
	text-align: center;
}
.sidebar-toggle-box{
	display: inline-block;
}
.top-menu{
	display: inline-block;
	float:right;
	margin-top:-5px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
.logo{
	color:white;
	text-decoration: none;	
}
.logout{
	color:white;
	width:70px;
	height: 40px;
	background-color: #9C4C9D;
	padding: 10px;
	text-decoration: none;
	border-radius:5px;
}
.top-menu ul li{
	display: inline-block;
}
.sub-menu{
	display:block;
	margin-top: 20px;
}
.sub-menu:hover{
	background-color:  #9C4C9D;
	width: 100%;
	padding:10px;
	margin-left: -20px;
}
aside{
	background-color: #424A5D;
	position: fixed;
	top:70px;
	left: 0;
	height: 100%;
	color:white;
	z-index: 2;
}
.text-center{
	margin-top: 0;
	padding-right: 40px;
	color:#D0D0D0;

}
#main-content{
	padding:80px 20px ;
}
i,span{
	color:#93969C;
}
a:hover{
	text-decoration: none;
}
i:hover,span:hover{
	color:white;
}
.wrapper{
	width: 100%;
	padding-left: 1%;
}
.box1 span {
	font-size: 40px;
	text-align: center;
}
h3{
	color:grey;
}
.box0:hover p{
	color:red;
	display: block;
}
.box0{
	text-align:center;
	box-shadow: 0px 1px 0px #999;
	margin-left: 10px;
	margin-right:10px;
	padding-bottom: 20px;
	padding-top: 40px;

}
.box0:hover{
	box-shadow: 0px 1px 0px #999;
}
.box0 p{
	display: none;
}
.box0:hover{
	background-color: white;
	text-align: center;
	box-shadow: 0px;
}
h1{
	color:#93969C;
}
.buttons i{
	color:#4D7DE9;
}
.buttons span{
	color:#4D7DE9;
}
.ds{
	background-color: white;
	padding:20px;
}
.ds h3{
	width: 100%;
	height: 70px;
	background-color: #9C4C9D;
	color:white;
	padding:10px;
	text-align:center;
}
.thumb{
	color:#7AD5E9;
	display: inline-block;
}
.desc{
	box-shadow: 0px 1px 0px #999;
	padding-bottom:5px;
	padding-top:5px;
}
.content-panel{
	background-color: white;
	box-shadow: 2px 2px 5px #999;
	color:grey;
	padding:10px;
	margin-top: 20px;

}
.mt{
	background-color: white;
	box-shadow: 2px 2px 5px #999;
	color:grey;
	padding:10px;
	margin-top: 20px;

}
.form-horizontal .control-label{
	text-align: left;
}
.style-form .form-group{
	box-shadow: 0px 1px 0px #F2F2F2;
	padding-top:5px;
	padding-bottom:15px;
}